<!DOCTYPE html>
<html lang="en">
  <body>
    <form action="/madlib">
      <p>Please complete the following form:</p>

      <label for="person">Enter a name:</label>
      <input type="text" name="person" id="person" /><br>

      <label for="color-input">Enter a color:</label>
      <input type="text" name="color" id="color-input" /><br>

      <p>Choose one of the following nouns:</p>

      <input type="radio" id="cat" name="noun" value="cat">
      <label for="cat">cat</label><br>

      <input type="radio" id="dog" name="noun" value="dog">
      <label for="dog">dog</label><br>

      <input type="radio" id="elephant" name="noun" value="elephant">
      <label for="elephant">elephant</label><br>

      <input type="radio" id="gorilla" name="noun" value="gorilla">
      <label for="gorilla">gorilla</label><br>

      <label for="adjective">Choose an adjective from the list below:</label>
      <select name="adjective" id="adjective">
        <option value="">select your option</option>
        <option value="spunky">spunky</option>
        <option value="hilarious">hilarious</option>
        <option value="mischievous">mischievous</option>
        <option value="horrendous">horrendous</option>
      </select><br>

      <input type="submit" value="Click Me!">


    </form>
  
  </body>
</html>