<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <form action="/madlib" id="game-form">
      <h1>Please complete the following form:</h1>

      <label for="person" id="person-label">Enter a name:</label>
      <input type="text" name="person" id="person" /><br>

      <label for="color-input" id="person-label">Enter a color:</label>
      <input type="text" name="color" id="color-input" /><br>
      
      <p>Choose one of the following nouns:</p>
      
      <div id="radio-buttons">

        <input type="radio" id="cat" name="noun" value="cat">
        <label for="cat" class="radio-button-labels">cat</label><br>

        <input type="radio" id="dog" name="noun" value="dog">
        <label for="dog" class="radio-button-labels">dog</label><br>

        <input type="radio" id="elephant" name="noun" value="elephant">
        <label for="elephant" class="radio-button-labels">elephant</label><br>

        <input type="radio" id="gorilla" name="noun" value="gorilla">
        <label for="gorilla" class="radio-button-labels">gorilla</label><br>
      </div>

      <label for="adjective" id="select-label">Choose an adjective from the list below:</label>
      <select name="adjective" id="adjective">
        <option value="">select your option</option>
        <option value="spunky">spunky</option>
        <option value="hilarious">hilarious</option>
        <option value="mischievous">mischievous</option>
        <option value="horrendous">horrendous</option>
      </select><br>

      <div id="form-buttons">
        <input type="submit" value="Click Me!" id="submit-button">
        <input type="reset" value="Reset All Categories" id="reset-button">
      </div>


    </form>
  
  </body>
</html>