<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <h1>Nice to meet you, {{ name }}.</h1>
    <p id="compliment-text">You're very {{ compliment }}</p>

    <form action="/game" id="compliment-form">
      <p id="play-game-text">Would you like to play a game?</p>

      <div id="radio-buttons">
        <input type="radio" name="play" value="yes" id="yes-input" />
        <label for="yes-input" class="radio-button-labels">Yes</label>

        <input type="radio" name="play" value="no" id="no-input" />
        <label for="no-input" class="radio-button-labels">No</label>
      </div>

      <button type="submit">Let's Go!</button>
    </form>
  </body>

</html>